<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<!-- Toolbar -->
<div class="header" role="banner">
  <div class="info-wrapper">
    <div class="portrait-image">
      <img src="assets/images/portrait.png">
    </div>
    <div class="header-detail">
      <h1>
        Jack McElhinney
      </h1>
      <h2>
        Software Engineer
      </h2>
    </div>
  </div>
  <div class="link-menu">
    <a class="social-link" title="LinkedIn" href="https://www.linkedin.com/in/jack-c-mcelhinney/" target="_blank" rel="noopener">
      <div class="circle-icon-button">
        <i class="fab fa-linkedin fa-2x"></i>
      </div>
      <p class="link-text">LinkedIn</p>
    </a>
    <a class="social-link" title="GitHub" href="https://github.com/jackcmac" target="_blank" rel="noopener">
      <div class="circle-icon-button">
        <i class="fab fa-github fa-2x"></i>
      </div>
      <p class="link-text">GitHub</p>
    </a>
    <a class="social-link" title="Email" href="https://github.com/jackcmac" target="_blank" rel="noopener">
      <div class="circle-icon-button">
          <i class="fas fa-envelope fa-2x"></i>
      </div>
      <p class="link-text">Email</p>
    </a>
  </div>
</div>
<div class="content">
  <mat-tab-group [color]="primary" mat-stretch-tabs class="tab-group" dynamicHeight>
    <mat-tab label="About">
      <div class="tab-content">
        <mat-card class="tab-card about-card">
          <mat-card-title>
            About Me
          </mat-card-title>
          <mat-card-content>
              I'm a third year student at Clemson University interested in all things tech. 
              Web development is my passion, both through designing and tinkering with the front-end user experience and exploring and integrating cloud solutions on the back-end.
              I am interested in any opportunity that will help me improve these and other skills.<br><br>
              I am a firm believer in the power of software to better the world by enabling change and driving good. As a software engineer, I strive to do my part to realize this opportunity in any way I can.<br><br>
              Thank you for visiting my website. Here, you can check out my experience and projects that I have been working on. Below you can find my resume. Let's get in touch!
          </mat-card-content>
          <mat-card-actions>
              <a mat-button href="assets/documents/Jack C McElhinney Resume.pdf" target="_blank">Resume</a>
          </mat-card-actions>
        </mat-card>
        <mat-card class="tab-card about-card">
          <mat-card-header>
            <img mat-card-avatar src="assets/images/clemson_logo.jpg">
            <mat-card-title>Clemson University Calhoun Honors College</mat-card-title>
            <mat-card-subtitle class="middle-subtitle">Current GPA: <strong>4.0</strong></mat-card-subtitle>
            <mat-card-subtitle>August 2017 - December 2020 (Anticipated)</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div class="clemson-detail">
              <p><strong>Major</strong>: Computer Science</p>
              <p><strong>Minor</strong>: Business Administration</p>
            </div>
            <div class="coursework">
              <p class><strong>Coursework:</strong></p>
              <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                  <button mat-icon-button disabled></button>
                  {{node.name}}
                </mat-tree-node>
                <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                  <button mat-icon-button matTreeNodeToggle
                          [attr.aria-label]="'toggle ' + node.name">
                    <mat-icon class="mat-icon-rtl-mirror">
                      {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                  </button>
                  {{node.name}}
                </mat-tree-node>
              </mat-tree>
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card class="tab-card about-card">
          <mat-card-title>
            Skills
          </mat-card-title>
          <mat-card-content class="split-card">
            <div class="hard-skills">
                <p class="skill-classification"><strong>Technologies</strong></p>
                <mat-list role="list">
                  <mat-list-item role="listitem">HTML/CSS/JavaScript</mat-list-item>
                  <mat-list-item role="listitem">Angular</mat-list-item>
                  <mat-list-item role="listitem">C/C++/C#</mat-list-item>
                  <mat-list-item role="listitem">Python</mat-list-item>
                </mat-list>
            </div>
            <div class="soft-skills">
              <p class="skill-classification"><strong>Interpersonal</strong></p>
              <mat-list role="list">
                <mat-list-item role="listitem">Listening</mat-list-item>
                <mat-list-item role="listitem">Adaptability</mat-list-item>
                <mat-list-item role="listitem">Empathy</mat-list-item>
                <mat-list-item role="listitem">Accepting Feedback</mat-list-item>
              </mat-list>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
    <!-- <mat-tab label="Academics">
      <h1>Some more tab content</h1>
      <p>Please email me</p>
    </mat-tab> -->
    <mat-tab label="Experience">
      <div class="tab-content">
        <mat-card class="tab-card experience-card">
          <mat-card-header>
            <img mat-card-avatar src="assets/images/bb_logo.png">
            <mat-card-title>Blackbaud</mat-card-title>
            <mat-card-subtitle class="middle-subtitle">Software Engineer Summer Intern</mat-card-subtitle>
            <mat-card-subtitle>2018, 2019</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel sollicitudin odio. Mauris sem diam, bibendum a suscipit elementum, bibendum nec elit. Cras malesuada lectus mi, nec posuere turpis suscipit quis. Ut id turpis nunc. Donec varius, lacus id eleifend porta, nisl libero cursus augue, eu vestibulum sem purus eget tortor. Vestibulum gravida massa tellus, non euismod libero volutpat vitae. Donec ultrices nulla ligula, non gravida est molestie vitae. Nam at quam sit amet lorem sodales accumsan. In vel sapien eget massa varius sollicitudin id ut est. Pellentesque placerat arcu vel porta pretium.
            </p>
          </mat-card-content>
        </mat-card>
        <mat-card class="tab-card experience-card">
            <mat-card-header>
              <img mat-card-avatar src="assets/images/gdg_logo.png">
              <mat-card-title>Good Done Great</mat-card-title>
              <mat-card-subtitle class="middle-subtitle">Software Engineer Summer Intern</mat-card-subtitle>
              <mat-card-subtitle>2015, 2016, 2017</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel sollicitudin odio. Mauris sem diam, bibendum a suscipit elementum, bibendum nec elit. Cras malesuada lectus mi, nec posuere turpis suscipit quis. Ut id turpis nunc. Donec varius, lacus id eleifend porta, nisl libero cursus augue, eu vestibulum sem purus eget tortor. Vestibulum gravida massa tellus, non euismod libero volutpat vitae. Donec ultrices nulla ligula, non gravida est molestie vitae. Nam at quam sit amet lorem sodales accumsan. In vel sapien eget massa varius sollicitudin id ut est. Pellentesque placerat arcu vel porta pretium.
              </p>
            </mat-card-content>
          </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Projects">
      <div class="tab-content">
        <mat-card class="tab-card project-card">
          <mat-card-header>
            <mat-card-title>Senior Capstone Project</mat-card-title>
            <mat-card-subtitle>August 2019 - Current</mat-card-subtitle>
            <img mat-card-avatar src="assets/images/synnex_logo.jpg">                  
          </mat-card-header>
          <mat-card-content>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel sollicitudin odio. Mauris sem diam, bibendum a suscipit elementum, bibendum nec elit. Cras malesuada lectus mi, nec posuere turpis suscipit quis. Ut id turpis nunc. Donec varius, lacus id eleifend porta, nisl libero cursus augue, eu vestibulum sem purus eget tortor. Vestibulum gravida massa tellus, non euismod libero volutpat vitae. Donec ultrices nulla ligula, non gravida est molestie vitae. Nam at quam sit amet lorem sodales accumsan. In vel sapien eget massa varius sollicitudin id ut est. Pellentesque placerat arcu vel porta pretium.
            </p>
          </mat-card-content>
          <mat-card-actions>
              <button mat-button>SYNNEX Corporation</button>
              <button mat-button>Microsoft</button>
              <button mat-button>Clemson Capstone</button>
          </mat-card-actions>
        </mat-card>
        <mat-card class="tab-card project-card">
          <mat-card-header>
            <mat-card-title>Personal Website</mat-card-title>
            <mat-card-subtitle>November 2019</mat-card-subtitle>
            <img mat-card-avatar src="assets/images/angular_logo.png">          
          </mat-card-header>
          <mat-card-content>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel sollicitudin odio. Mauris sem diam, bibendum a suscipit elementum, bibendum nec elit. Cras malesuada lectus mi, nec posuere turpis suscipit quis. Ut id turpis nunc. Donec varius, lacus id eleifend porta, nisl libero cursus augue, eu vestibulum sem purus eget tortor. Vestibulum gravida massa tellus, non euismod libero volutpat vitae. Donec ultrices nulla ligula, non gravida est molestie vitae. Nam at quam sit amet lorem sodales accumsan. In vel sapien eget massa varius sollicitudin id ut est. Pellentesque placerat arcu vel porta pretium.
            </p>
          </mat-card-content>
          <mat-card-actions>
              <a mat-button href="https://github.com/jackcmac/aws-cloudathon" target="_blank">GitHub Source</a>
          </mat-card-actions>
        </mat-card>
        <mat-card class="tab-card project-card">
          <mat-card-header>
            <mat-card-title>CUHackit Note Transcriber</mat-card-title>
            <mat-card-subtitle>March 2018</mat-card-subtitle>
            <img mat-card-avatar src="assets/images/cuhackit_logo.jpg">
          </mat-card-header>
          <mat-card-content>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel sollicitudin odio. Mauris sem diam, bibendum a suscipit elementum, bibendum nec elit. Cras malesuada lectus mi, nec posuere turpis suscipit quis. Ut id turpis nunc. Donec varius, lacus id eleifend porta, nisl libero cursus augue, eu vestibulum sem purus eget tortor. Vestibulum gravida massa tellus, non euismod libero volutpat vitae. Donec ultrices nulla ligula, non gravida est molestie vitae. Nam at quam sit amet lorem sodales accumsan. In vel sapien eget massa varius sollicitudin id ut est. Pellentesque placerat arcu vel porta pretium.
            </p>
          </mat-card-content>
          <mat-card-actions>
              <a mat-button href="https://github.com/jackcmac/cuhackit2018" target="_blank">GitHub Source</a>
          </mat-card-actions>
        </mat-card>
        <mat-card class="tab-card project-card">
          <mat-card-header>
            <mat-card-title>AWS Cloud-a-thon</mat-card-title>
            <mat-card-subtitle>April 2018</mat-card-subtitle>
            <img mat-card-avatar src="assets/images/aws_logo.png">
          </mat-card-header>
          <mat-card-content>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel sollicitudin odio. Mauris sem diam, bibendum a suscipit elementum, bibendum nec elit. Cras malesuada lectus mi, nec posuere turpis suscipit quis. Ut id turpis nunc. Donec varius, lacus id eleifend porta, nisl libero cursus augue, eu vestibulum sem purus eget tortor. Vestibulum gravida massa tellus, non euismod libero volutpat vitae. Donec ultrices nulla ligula, non gravida est molestie vitae. Nam at quam sit amet lorem sodales accumsan. In vel sapien eget massa varius sollicitudin id ut est. Pellentesque placerat arcu vel porta pretium.
            </p>
          </mat-card-content>
          <mat-card-actions>
              <a mat-button href="https://github.com/jackcmac/aws-cloudathon" target="_blank">GitHub Source</a>
          </mat-card-actions>
        </mat-card>
        <mat-card class="tab-card project-card">
          <mat-card-header>
            <mat-card-title>Greater Good Hack-a-thon</mat-card-title>
            <mat-card-subtitle>November 2017</mat-card-subtitle>
            <img mat-card-avatar src="assets/images/mvf_logo.jpeg">
          </mat-card-header>
          <mat-card-content>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel sollicitudin odio. Mauris sem diam, bibendum a suscipit elementum, bibendum nec elit. Cras malesuada lectus mi, nec posuere turpis suscipit quis. Ut id turpis nunc. Donec varius, lacus id eleifend porta, nisl libero cursus augue, eu vestibulum sem purus eget tortor. Vestibulum gravida massa tellus, non euismod libero volutpat vitae. Donec ultrices nulla ligula, non gravida est molestie vitae. Nam at quam sit amet lorem sodales accumsan. In vel sapien eget massa varius sollicitudin id ut est. Pellentesque placerat arcu vel porta pretium.
            </p>
          </mat-card-content>
          <mat-card-actions>
              <a mat-button href="https://github.com/CEthanCook/greater-good" target="_blank">GitHub Source</a>
          </mat-card-actions>
        </mat-card>
        <mat-card class="tab-card project-card">
          <mat-card-header>
            <mat-card-title>Senior Thesis</mat-card-title>
            <mat-card-subtitle>January 2016 - December 2016</mat-card-subtitle>
            <img mat-card-avatar src="assets/images/d2l_logo.png">
          </mat-card-header>
          <mat-card-content>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel sollicitudin odio. Mauris sem diam, bibendum a suscipit elementum, bibendum nec elit. Cras malesuada lectus mi, nec posuere turpis suscipit quis. Ut id turpis nunc. Donec varius, lacus id eleifend porta, nisl libero cursus augue, eu vestibulum sem purus eget tortor. Vestibulum gravida massa tellus, non euismod libero volutpat vitae. Donec ultrices nulla ligula, non gravida est molestie vitae. Nam at quam sit amet lorem sodales accumsan. In vel sapien eget massa varius sollicitudin id ut est. Pellentesque placerat arcu vel porta pretium.
            </p>
          </mat-card-content>
          <mat-card-actions>
              <a mat-button href="assets/documents/Jack C McElhinney Senior Thesis.pdf" target="_blank">Thesis</a>
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>