:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

$screen-xs-max: 350px;

// Small tablets and large smartphones (landscape view)
$screen-sm-max: 480px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

@mixin xs {
    @media (max-width: #{$screen-xs-max}) {
        @content;
    }
}

// Small devices
@mixin sm {
    @media (max-width: #{$screen-sm-max}) {
        @content;
    }
 }
 
 // Medium devices
 @mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
 }
 
 // Large devices
 @mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
 }

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
}

p {
    margin: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-250px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideUpFadeIn {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }
    50% {
        transform: translateY(10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes tabControlFadeIn {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.header {
    width: 100%;
    display: flex;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    
    padding-top: 22px;
    padding-bottom: 22px;

    animation: 1s ease-out 0s 1 slideDown;
}

.info-wrapper {
    display: flex;
    justify-content: center;

    @include sm {
        display: block;
        text-align: center;
    }
}

.header-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 540px;
    display: block;

    @include md {
        width: 700px;
        display: flex;
    }

    @include lg {
        width: 800px;
        display: flex;
    }
}

.portrait-image {
    height: 175px;
    width: 175px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    margin: 0px 20px;

    @include sm {
        margin: 0px auto;
    }
    
    animation: 2s linear 0s 1 fadeIn;
}

.header-detail {
    vertical-align: top;

    animation: 2s linear 0s 1 fadeIn;
}

.link-menu {
    display: flex;
    justify-content: center;

    @include md {
        display: block;
    }

    animation: 2s ease-out 0s 1 slideUpFadeIn;
}

.social-link {
    display: flex;
    align-items: center;
    margin: 8px;
    text-decoration: none;
    color: white;

    p {
        font-size: larger;
        
    }
}

.link-text {
    @include sm {
        display: none;
    }
}

.circle-icon-button {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
}

.social-link:hover {
    cursor: pointer;
    transition: 1s ease-out;
    transform: translateY(-0.25rem);
    animation: alternate;
    
    .circle-icon-button {
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    }
}

.fa-linkedin {
    color: #0e76a8;
}

.fa-github {
    color: #333;
}

.fa-envelope {
    color: #4527A0;
}

.content {
    display: flex;
    justify-content: center;
}

.tab-group {
    margin: 8px;
    width: 800px;

    animation: 2s linear 0s 1 tabControlFadeIn;
}

.tab-content {
    margin: 10px;

    @include xs {
        margin: 10px 0px;
    }
}

.tab-card {
    margin-bottom: 10px;
}

.middle-subtitle {
    margin-bottom: 12px;
}

.coursework {
    margin-top: 12px;
}

.split-card {
    display: flex;
    justify-content: space-evenly;
}

::ng-deep .mat-list-item-content {
    justify-content: center;
}

.skill-classification {
    text-align: center;
}