<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<!-- Toolbar -->
<div class="header" role="banner">
  <div class="info-wrapper">
    <div class="portrait-image">
      <img src="assets/images/portrait.png">
    </div>
    <div class="header-detail">
      <h1>
        Jack McElhinney
      </h1>
      <h2>
        Software Engineer
      </h2>
    </div>
  </div>
  <div class="link-menu">
    <a class="social-link" title="LinkedIn" href="https://www.linkedin.com/in/jack-c-mcelhinney/" target="_blank" rel="noopener">
      <div class="circle-icon-button">
        <i class="fab fa-linkedin fa-2x"></i>
      </div>
      <p class="link-text">LinkedIn</p>
    </a>
    <a class="social-link" title="GitHub" href="https://github.com/jackcmac" target="_blank" rel="noopener">
      <div class="circle-icon-button">
        <i class="fab fa-github fa-2x"></i>
      </div>
      <p class="link-text">GitHub</p>
    </a>
    <a class="social-link" title="Email" href="https://github.com/jackcmac" target="_blank" rel="noopener">
      <div class="circle-icon-button">
          <i class="fas fa-envelope fa-2x"></i>
      </div>
      <p class="link-text">Email</p>
    </a>
  </div>
</div>
<div class="content">
  <mat-tab-group color="primary" mat-stretch-tabs class="tab-group" dynamicHeight>
    <mat-tab label="About">
      <div class="tab-content">
        <mat-card class="tab-card about-card">
          <mat-card-title>
            About Me
          </mat-card-title>
          <mat-card-content>
              I'm a third year student at Clemson University interested in all things tech. 
              Web development is my passion, both through designing and tinkering with the front-end user experience and exploring and integrating cloud solutions on the back-end.
              I am interested in any opportunity that will help me improve these and other skills.<br><br>
              I am a firm believer in the power of software to better the world by enabling change and driving good. As a software engineer, I strive to do my part to realize this opportunity in any way I can.<br><br>
              Thank you for visiting my website. Here, you can check out my experience and projects that I have been working on. Below you can find my resume. Let's get in touch!
          </mat-card-content>
          <mat-card-actions>
              <a mat-button href="assets/documents/Jack C McElhinney Resume.pdf" target="_blank">Resume</a>
          </mat-card-actions>
        </mat-card>
        <mat-card class="tab-card about-card">
          <mat-card-header>
            <img mat-card-avatar src="assets/images/clemson_logo.jpg">
            <mat-card-title>Clemson University Calhoun Honors College</mat-card-title>
            <mat-card-subtitle class="middle-subtitle">Current GPA: <strong>4.0</strong></mat-card-subtitle>
            <mat-card-subtitle>August 2017 - December 2020 (Anticipated)</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div class="clemson-detail">
              <p><strong>Major</strong>: Computer Science</p>
              <p><strong>Minor</strong>: Business Administration</p>
            </div>
            <div class="coursework">
              <p class><strong>Coursework:</strong></p>
              <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                  <button mat-icon-button disabled></button>
                  {{node.name}}
                </mat-tree-node>
                <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                  <button mat-icon-button matTreeNodeToggle
                          [attr.aria-label]="'toggle ' + node.name">
                    <mat-icon class="mat-icon-rtl-mirror">
                      {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                  </button>
                  {{node.name}}
                </mat-tree-node>
              </mat-tree>
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card class="tab-card about-card">
          <mat-card-title>
            Skills
          </mat-card-title>
          <mat-card-content class="split-card">
            <div class="hard-skills">
                <p class="skill-classification"><strong>Technologies</strong></p>
                <mat-list role="list">
                  <mat-list-item role="listitem">HTML/CSS/JavaScript</mat-list-item>
                  <mat-list-item role="listitem">Angular</mat-list-item>
                  <mat-list-item role="listitem">C/C++/C#</mat-list-item>
                  <mat-list-item role="listitem">Python</mat-list-item>
                </mat-list>
            </div>
            <div class="soft-skills">
              <p class="skill-classification"><strong>Interpersonal</strong></p>
              <mat-list role="list">
                <mat-list-item role="listitem">Listening</mat-list-item>
                <mat-list-item role="listitem">Adaptability</mat-list-item>
                <mat-list-item role="listitem">Empathy</mat-list-item>
                <mat-list-item role="listitem">Accepting Feedback</mat-list-item>
              </mat-list>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-tab>
    <!-- <mat-tab label="Academics">
      <h1>Some more tab content</h1>
      <p>Please email me</p>
    </mat-tab> -->
    <mat-tab label="Experience">
      <div class="tab-content">
        <mat-card class="tab-card experience-card">
          <mat-card-header>
            <img mat-card-avatar src="assets/images/bb_logo.png">
            <mat-card-title>Blackbaud</mat-card-title>
            <mat-card-subtitle class="middle-subtitle">Software Engineer Summer Intern</mat-card-subtitle>
            <mat-card-subtitle>2018, 2019</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
                For the past 2 summers I have worked at Blackbaud, a large provider of nonprofit software solutions. 
                There I worked on their core user experience framework team SKY UX, developing open-source front-end Angular components and internal back-end services using Azure solutions with .NET Core. 
                Several teams throughout the company used these components and services for developing multiple products.<br><br>
                During my time at Blackbaud I worked on 2 major products. 
                The first was a full-stack UI configuration service that preserves the states of several components across user sessions. 
                This project involved creating a library to interface with an Azure App Service which stored user configurations in Azure CosmosDB and interpreting these configurations in the UI. 
                The second project was a complex notification system to accept several types of notifications, determine their delivery type, and handle pushing real-time updates to users that are logged in. 
                This project involved creating 2 microservices and connecting CosmosDB and Azure SignalR to store notifications and push them to users over a WebSocket connection.<br><br>
                At Blackbaud, I gained a better understanding of building back-end services, microservice architecture, and the power of Microsoft's Azure solutions. 
            </p>
          </mat-card-content>
          <mat-card-actions>
              <a mat-button href="https://www.blackbaud.com/" target="_blank">Blackbaud</a>
              <a mat-button href="https://developer.blackbaud.com/skyux/" target="_blank">SKY UX</a>
          </mat-card-actions>
        </mat-card>
        <mat-card class="tab-card experience-card">
            <mat-card-header>
              <img mat-card-avatar src="assets/images/gdg_logo.png">
              <mat-card-title>Good Done Great</mat-card-title>
              <mat-card-subtitle class="middle-subtitle">Software Engineer Summer Intern</mat-card-subtitle>
              <mat-card-subtitle>2015, 2016, 2017</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                  I spent 3 summers working at Good Done Great, a local startup focused on developing corporate social responsibility solutions for large Fortune 500 firms. 
                  As a rising high school sophomore with little experience, I quickly learned web development with AngularJS and began working on an Agile team to create a new product.<br><br>
                  Over the course of my experience with Good Done Great, I worked on major projects such as a new graphical dashboard built with amCharts and a new cross-platform mobile application built with Ionic. 
                  I also spent time testing and resolving bugs and mentoring new interns.
              </p>
            </mat-card-content>
            <mat-card-actions>
                <a mat-button href="https://gooddonegreat.com/home" target="_blank">Good Done Great</a>
            </mat-card-actions>
          </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Projects">
      <div class="tab-content">
        <mat-card class="tab-card project-card">
          <mat-card-header>
            <mat-card-title>Senior Capstone Project</mat-card-title>
            <mat-card-subtitle>August 2019 - Current</mat-card-subtitle>
            <img mat-card-avatar src="assets/images/synnex_logo.jpg">                  
          </mat-card-header>
          <mat-card-content>
            <p>
              Throughout fall semester of 2019, I have worked with both SYNNEX and Microsoft on a senior design capstone project.
              The capstone class is an opportunity for students to work on a real-world project with a sponsoring company.
              Our team of five is working with SYNNEX and partners at Microsoft to create an intelligent chat bot that could act as a teaching assistant for a course.<br><br>
              This bot consumes various types of data including text documents such as notes and textbooks and visuals like maps, images, and handwritten text. 
              This data can then be searched when the user enters a query and relevant documents will be returned and presented in the bot interface.
              The technology used for this project includes the Azure Bot Framework, Azure Cognitive Search, and Azure Blob Storage.<br><br>
              This project has implications in traditional classroom applications like teaching and studying, as well as possible uses in business to allow for collection and searching of business documents and presentations. 
              Throughout the semester, I have acted as the team's scrum master, managing Agile sprints through Azure DevOps and leading planning and demos. 
            </p>
          </mat-card-content>
          <mat-card-actions>
              <a mat-button href="https://www.synnexcorp.com/" target="_blank">SYNNEX Corporation</a>
              <a mat-button href="https://www.microsoft.com/" target="_blank">Microsoft</a>
              <a mat-button href="https://www.clemson.edu/cecas/departments/computing/connect/industry_relations.html" target="_blank">Clemson School of Computing</a>
          </mat-card-actions>
        </mat-card>
        <mat-card class="tab-card project-card">
          <mat-card-header>
            <mat-card-title>Personal Website</mat-card-title>
            <mat-card-subtitle>November 2019</mat-card-subtitle>
            <img mat-card-avatar src="assets/images/angular_logo.png">          
          </mat-card-header>
          <mat-card-content>
            <p>
              This website was crafted using Angular with Angular Material components and styling. <br><br>
              Feel free to check out the source code below!
            </p>
          </mat-card-content>
          <mat-card-actions>
              <a mat-button href="https://github.com/jackcmac/jack-mcelhinney" target="_blank">GitHub Source</a>
          </mat-card-actions>
        </mat-card>
        <mat-card class="tab-card project-card">
          <mat-card-header>
            <mat-card-title>CUhackit TrainAR</mat-card-title>
            <mat-card-subtitle>January 2019</mat-card-subtitle>
            <img mat-card-avatar src="assets/images/cuhackit_logo.jpg">
          </mat-card-header>
          <mat-card-content>
            <p>
              Getting started with a workout routine can be both challenging and daunting. 
              With so many exercises and so many things to consider regarding form, the thought of it alone can be very demotivating. 
              That's why in CUhackit 2019, we created an app that integrated with sensors to indicate if the user is performing exercises with proper form.<br><br>
              Our solution was an augmented reality app that worked together with an Inertial Measurement Unit connected to an Arduino 101.
              Our prototyping exercise was push-ups, so the AR app built in Unity with ARCore would place hand markings on the floor to indicate the starting position. 
              The sensors on the chest and lower back would then calculate if the upper body maintained a proper correct angle during the rep.<br><br>
              This idea introduced opportunity for future work in this area, such as integrating optical sensors with augmented reality to support many exercises and full workout routines.  
            </p>
          </mat-card-content>
          <mat-card-actions>
              <a mat-button href="https://devpost.com/software/tech-trainer" target="_blank">Devpost</a>
          </mat-card-actions>
        </mat-card>
        <mat-card class="tab-card project-card">
          <mat-card-header>
            <mat-card-title>AWS Cloud-a-thon BPA</mat-card-title>
            <mat-card-subtitle>April 2018</mat-card-subtitle>
            <img mat-card-avatar src="assets/images/aws_logo.png">
          </mat-card-header>
          <mat-card-content>
            <p>
              People with visual impairments can use technology in remarkable ways.
              For the Clemson 12-hour AWS Cloud-a-thon, we wanted to create a tool that those with these visual impairments can use to identify just about anything in front of them.<br><br>
              Our idea for this solution was to create an app with the simplest UI imaginable: one button. The press of this button would then trigger a reading of everything that the phone camera sees. 
              This idea was realized by creating a React Native mobile app that integrated with Amazon Web Services solutions that interpreted a photo from the camera and converted results to text-to-speech. 
              This text-to-speech identified everything from objects, OCR text, faces, and expressions, with each category read separately.<br><br>
              Our app earned 2nd place during this cloud-a-thon.
            </p>
          </mat-card-content>
          <mat-card-actions>
              <a mat-button href="https://github.com/jackcmac/aws-cloudathon" target="_blank">GitHub Source</a>
          </mat-card-actions>
        </mat-card>
        <mat-card class="tab-card project-card">
          <mat-card-header>
            <mat-card-title>CUHackit Scribble</mat-card-title>
            <mat-card-subtitle>March 2018</mat-card-subtitle>
            <img mat-card-avatar src="assets/images/cuhackit_logo.jpg">
          </mat-card-header>
          <mat-card-content>
            <p>
              Many students enjoy the learning benefits of handwriting notes during class but have to give up the organization and searchability of digital notes. 
              That's why for CUhackit 2018, we created Scribble. <br><br>
              The idea for Scribble was simple: create an OCR solution custom-tailored to the application of handwritten notes. 
              Scanning had to be fast and easy and the output should be able to be searched and marked up.
              Our solution was a React app that integrated with AWS Rekognition to scan images for text and return a document with all of the text in a searchable, editable format.
            </p>
          </mat-card-content>
          <mat-card-actions>
              <a mat-button href="https://github.com/jackcmac/cuhackit2018" target="_blank">GitHub Source</a>
              <a mat-button href="https://devpost.com/software/scribble-6rjwzp" target="_blank">Devpost</a>
          </mat-card-actions>
        </mat-card>
        <mat-card class="tab-card project-card">
          <mat-card-header>
            <mat-card-title>Greater Good Hack-a-thon</mat-card-title>
            <mat-card-subtitle>November 2017</mat-card-subtitle>
            <img mat-card-avatar src="assets/images/mvf_logo.jpeg">
          </mat-card-header>
          <mat-card-content>
            <p>
              My first hack-a-thon was with the Spiro Institute for Entrepreneurial Leadership. 
              This organization hosted several nonprofits that pitched mobile application ideas to be explored during a 24-hour hack-a-thon. 
              After deliberating which ideas were most needed and most feasible, our team decided to design and develop an application for Mill Village Farms and offer third party suggestions to the other nonprofits.<br><br>
              Mill Village Farms is a Greenville nonprofit that seeks to transform empty properties into gardens that can provide produce for the community. 
              The organization also provides employment and training opportunities for youth in the area. 
              Their need was a specialized employee management solution in order to have multiple means of contact when a phone is not always available and coordinate farm and farmer's market shifts.<br><br>
              Our team's solution was a web app that could be used on mobile devices created with Laravel and PHP. 
              With help from mentors from local Greenville startups, we created an MVP version and full future design within the 24-hour period.
            </p>
          </mat-card-content>
          <mat-card-actions>
              <a mat-button href="https://github.com/CEthanCook/greater-good" target="_blank">GitHub Source</a>
          </mat-card-actions>
        </mat-card>
        <mat-card class="tab-card project-card">
          <mat-card-header>
            <mat-card-title>Senior Thesis</mat-card-title>
            <mat-card-subtitle>January 2016 - December 2016</mat-card-subtitle>
            <img mat-card-avatar src="assets/images/d2l_logo.png">
          </mat-card-header>
          <mat-card-content>
            <p>
              During my junior and senior years of high school, I had the incredible opportunity to find a mentor, research, and write about an issue that was important to me. 
              For my Senior Thesis project, I researched and developed a mobile application designed to prevent child sexual abuse. 
              I worked closely with a local nonprofit called Darkness to Light throughout this process.<br><br>
              The mobile application was built natively for both iOS and Android using XCode and Android Studio. 
              It contained videos and text detailing Darkness to Light's 5 Steps to Prevention, and implemented a pre-test and post-test with SurveyMonkey to gauge users' gains in knowledge.<br><br>
              After researching related work and completing my own study, I defended the project to my advisor, mentor, and third parties. Check out the final paper below!
            </p>
          </mat-card-content>
          <mat-card-actions>
            <a mat-button href="assets/documents/Jack C McElhinney Senior Thesis.pdf" target="_blank">Thesis</a>
            <a mat-button href="https://www.d2l.org/" target="_blank">Darkness to Light</a>
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>